// general wrapper class
.container {
	@extend %post;
	// Set max-width here
	
	@include media($mobile){
		padding: 0px 20px;
	}

	.content {
		@include span-columns(8);
		padding: 2rem 0;
	}
	.sidebar {
		@include span-columns(4);
		@include omega;
		padding: 2rem 0;
	}
}