.contact_us {
	
	.page_header {
		
		h1 {
			@include psReg;
			float: left;
			margin: 0px;
			padding-top: 55px;
			text-transform: uppercase;
			font-size: 37px;
		}
		
		.contact_info {
			float: right;
			padding-top: 35px;
			text-transform: uppercase;
			color: $gray;
			display: block;
			
			@include media($mobile){
				display: none;
			}
		}
	}
	
	.contact_image {
		
		img	{ 
			width: 100%;
			height: auto;
			display: block;
			
			@include media($mobile){
				width: 200%;
				left: -230px;
			}
		}
	}
	
	.directions {
		background-color: $lightGray;
		
		.content {
			@include span-columns(12);
			padding: 20px 0px 80px 0px;
			
			@include media($mobile){
				padding: 0px 0px 80px 0px;
				text-align: center;
			}
			
			.one_column {
				width: 100%;
				padding-bottom: 30px;
			}
			
			.two_column {
				
				h3 {
					color: $red;
					text-transform: uppercase;
				}
				
				.left {
					@include span-columns(6);
					
					@include media($mobile){
						@include span-columns(4);
					}
				}
				
				.right {
					@include span-columns(6);
					margin-right: 0px;
					
					@include media($mobile){
						@include span-columns(4);
					}
				}
			}
		}
	}
	
	.map {
		
		.two_column {
			padding: 70px 0px;
			
			@include media($mobile){
				padding: 40px 0px;
			}
		}
		
		.left {
			@include span-columns(6);
			
			@include media($mobile){
				@include span-columns(4);
			}
			
			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
		
		.right {
			@include span-columns(6);
			@include psReg;
			margin-right: 0px;
			text-transform: uppercase;
			
			@include media($mobile){
				@include span-columns(4);
			}
			
			
			.column_left {
				@include span-columns(6);
				
				@include media($mobile){
					@include span-columns(4);
				}
			}
			
			.column_right {
				@include span-columns(6);
				margin-right: 0px;
				
				@include media($mobile){
					@include span-columns(4);
				}
				
				li {
					
					&:nth-child(4) {
						padding: 15px 0px;
					}
					
					&:nth-child(5) {
						padding: 15px 0px;
					}
					
					&:nth-child(6) {
						padding: 15px 0px;
					}
				}
			}
			
			h3 {
				@include psReg;
				margin-top: 0px;
				
				@include media($mobile){
					padding-top: 50px;
					font-size: 30px;
				}
			}
			
			ul {
				list-style: none;
				
				li {
					padding: 5px 0px;
					
					@include media($mobile){
						font-size: 20px;
					}
					
					span {
						padding-right: 5px;
						display: inline-block;
						
						img {
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
	
	.contact_info_section {
		
	}
}